*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}
/*make game more pretty*/
.main-board {
    display: flex;
    position: relative;
    height: 100vh;
    max-width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;

}

.dead {
    border: solid 1px #7c7c7c;
    cursor: pointer;

}

.row {
    position: relative;
    border: solid 1px #7c7c7c;

}

.column{
    position: relative;
}

.control-panel {
    display: flex;
    border: solid 1px #ff5555;
    padding: 10px;
}

.alive {
    background: #000;
    border: solid 1px #7c7c7c;
    cursor: pointer;
}